UserPrefs.xml
/.vs
/.obj
/.bin
/.vs/ProjectEvaluation/simplefactory.metadata.v7.bin
/.vs/ProjectEvaluation/simplefactory.projects.v7.bin
/.vs/SimpleFactory/DesignTimeBuild/.dtbcache.v2
/.vs/SimpleFactory/v17/.futdcache.v2
/.vs/SimpleFactory/v17/.suo
/.vs/SimpleFactory/FileContentIndex/13b511b3-b296-4060-b380-1eff879b0532.vsidx
/.vs/SimpleFactory/FileContentIndex/f91860cf-a9a7-461c-b971-2b311adb08c6.vsidx
/.vs/SimpleFactory/FileContentIndex/35462024-0770-4053-94ce-eff7e2f0f777.vsidx
/.vs/SimpleFactory/FileContentIndex/493b8eb5-ebb5-47a9-a0c0-2d6c9598da4d.vsidx
/.vs/SimpleFactory/FileContentIndex/6ea9f99f-fee7-4a06-8e38-c3efeeb6d7e8.vsidx
/.vs/SimpleFactory/FileContentIndex/a7f379cc-a413-4896-ae75-7e8af740269a.vsidx
/.vs/SimpleFactory/FileContentIndex/78fd9fc8-188d-4f95-86be-da151461b48e.vsidx
/.vs/SimpleFactory/FileContentIndex/aaae42eb-d907-47ea-96b1-1cf6e20a1ba7.vsidx
/.vs/SimpleFactory/FileContentIndex/be8f32be-1b27-4b8b-a170-3482954f4163.vsidx
/.vs/SimpleFactory/FileContentIndex/c6790cd4-1712-48ba-bb04-cd184e868c0b.vsidx
/.vs/SimpleFactory/FileContentIndex/d2cae818-153b-4dbb-8040-68ccc1c987f9.vsidx
